div.intro h2 {
    text-align: center;
}

div.flexBox{
    display:flex;
}

div.nav {
    font-size: 1.9em;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    width:100%;
    border-style:solid;
    border-color:black;
    background-color:rgb(22, 22, 110);
    padding:20px;
    color:white;
  }