

  /* Navbar container */
.navbar {
    overflow: hidden;
    background-color:lightslategrey;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* next and back buttons */
  .next , .previous{
    text-decoration: none;
    display: block;
    padding: 8px 16px;
  }

  .next:hover , .previous:hover{
    background-color:lightslategrey;
    color:white;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    width:12%;
    margin-left:44%;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
    text-align: center;
    width:12%;
    margin-left:44%;
  }

  /*Rules for header */
  header{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:rgb(15, 98, 182);
  }

  header a{
    color:black;
    text-decoration: none;
  }

  header a:hover{
    color:white;
  }

  header p{
    text-align: center;
    color:white;
    font-size: 5em;
    font-family: myfont;
  }

/*Nav bar at the top of every page*/
div.buttonBox{
  display:flex;
  margin-left: 25%;
  margin-right: 25%;
}

div.nav {
  font-size: 1.3em;
  font-family:Arial;
  text-align:center;
  width:50%;
  border-style:solid;
  border-color:black;
  background-color:lightsteelblue;
  border-radius: 2em;
  margin-right:10px;
  margin-left:10px;
  padding-top: 10px;
}

  div.nav:hover{
    background-color:lightslategrey;
  }

  
/* Custom font for title*/
@font-face {
    font-family: myfont;
    src: url('myFont.TTF');
}

/*rules for all pages */

div.content{
  margin-left: 10%;
  margin-right:10%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: Arial;
  border-style: outset;
  border-color:rgb(15, 98, 182);
  border-width: 6px;
  background-color: white;
  font-size:2em;
}

div.content p{
  margin-left: 5%;
  margin-right: 5%;
}
body{
  background-color:lightgrey
}

footer{
  background-color:rgb(15, 98, 182);
  padding:20px;
  text-align: center;
  color: white;
  font-size: 1.25em;
  margin-top:20px;
}

p.sources {
  font-size: 0.6em;
}

a.footerlink{
  text-decoration: none;
  color: white;
}

a.footerlink:hover{
  color:lightslategray;
}

div.flexBox{
  display: flex;
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.content h2{
  margin-left:3%;
}

/*rules for the CPU page*/

button#IntelButton , button#AMDButton{
  background-color: white;
  font-family: Arial;
  border-style: outset;
  border-color:rgb(15, 98, 182);
  border-width: 6px;
  font-size:1em;
  margin-top: 3%;
}

div#CPUButtons{
  margin-left: 5%;
  margin-right: 5%;
}

button#IntelButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button#AMDButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button#IntelButton:hover , button#AMDButton:hover{
  background-color:lightslategray;
  border-color:rgb(15, 98, 182);
}

div#cpuLayout{
  display: grid;
  grid-template-columns:50% 50% ;
  text-align: center;
  margin-top: 3%;
}

img#intelCPU{
  width:25%;
}
img#intelCooler{
  width:35%;
}
img#AMDCPU{
  width:70%;
}
img#AMDCooler, img#AMDClip, img#AMDUnlock, img#AMDLock{
  width:30%;
}

div#Intel{
  display:none;
}

div#AMD{
  display:none;
}

/*rules for RAM page*/
img#RAMUnlock{
  width:15%;
}
img#RAM{
  width:35%;
}

/* rules for the installing MoBo page*/
div.caseBox{
  display: grid;
  grid-template-columns:30% 30% 30%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

img#ATXMOBO, img#MicroATXMOBO, img#MiniITXMOBO{
  position: absolute;
  width:15%;
  height:auto;
  display:none;
}

img#JFP1Diagram{
  width:25%;
}

/*rules for the setting up page*/
img#screwdriver{
  width: 30%;
}

img#zipties{
  transform: rotate(90deg);
  width: 20%;
}

img#pliers{
  width: 30%;
}

/*rules of rM.2 page*/
img#M2Unlock, img#M2Lock{
  width:30%;
  height:30%;
}


/*rules for storage page */
img#sataCable{
  width:20%;
}
img#driveCage{
  width:60%
}

/*rules for GPU page*/
img#GPUSlots{
  width:25%;
}

img#GPU{
  width:40%
}

/*rules for PSU page*/
ul#PSUList{
  margin-left:15%;
}

img#PSU{
  width:37%;
}

/*rules for turning on page*/
a#windowslink{
  color:lightslategrey;
  text-decoration:none;
}

a#windowslink:hover{
  color:lightsteelblue;
}